USE [master]
GO
/****** Object:  Database [FoodWhale]    Script Date: 11/12/2021 12:00:03 AM ******/
CREATE DATABASE [FoodWhale] ON  PRIMARY 
( NAME = N'FoodWhale', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\FoodWhale.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FoodWhale_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\FoodWhale_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FoodWhale].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FoodWhale]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 11/12/2021 12:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/12/2021 12:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredient]    Script Date: 11/12/2021 12:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredient](
	[inID] [int] IDENTITY(1,1) NOT NULL,
	[inName] [nvarchar](50) NOT NULL,
	[Image] [varchar](255) NOT NULL,
	[Type] [varchar](30) NOT NULL,
	[Price] [money] NOT NULL,
	[categoryID] [int] NOT NULL,
	[description] [nvarchar](50) NOT NULL,
	[guideline] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[inID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/12/2021 12:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[oID] [int] IDENTITY(1,1) NOT NULL,
	[uID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[oID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Detail]    Script Date: 11/12/2021 12:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Detail](
	[oID] [int] NOT NULL,
	[inID] [int] NOT NULL,
	[Quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe]    Script Date: 11/12/2021 12:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe](
	[rID] [int] IDENTITY(1,1) NOT NULL,
	[rName] [nvarchar](100) NOT NULL,
	[cID] [int] NOT NULL,
	[Image] [varchar](255) NOT NULL,
	[Difficulty] [varchar](6) NOT NULL,
	[Time] [int] NOT NULL,
	[LikeCount] [int] DEFAULT '0',
	[rDescription] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[rID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe_ingredient]    Script Date: 11/12/2021 12:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe_ingredient](
	[rID] [int] NOT NULL,
	[inID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe_Like]    Script Date: 11/12/2021 12:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe_Like](
	[rID] [int] not null,
	[uID] [int] NOT NULL,
	[Fav] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/12/2021 12:00:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[uID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[uName] [varchar](30) NOT NULL,
	[DoB] [date] NULL,
	[Gender] [char](1) NULL,
	[Address] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
	[Role] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[uID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('0') FOR [Status]
GO
ALTER TABLE [dbo].[Recipe_Like] ADD  DEFAULT ('0') FOR [Fav]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Ingredient]  WITH CHECK ADD  CONSTRAINT [FK_Ingredient_Category] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([categoryID])
GO
ALTER TABLE [dbo].[Ingredient] CHECK CONSTRAINT [FK_Ingredient_Category]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([uID])
REFERENCES [dbo].[User] ([uID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Order_Detail_Ingredient] FOREIGN KEY([inID])
REFERENCES [dbo].[Ingredient] ([inID])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK_Order_Detail_Ingredient]
GO
ALTER TABLE [dbo].[Order_Detail]  WITH CHECK ADD  CONSTRAINT [FK_Order_Detail_Order] FOREIGN KEY([oID])
REFERENCES [dbo].[Order] ([oID])
GO
ALTER TABLE [dbo].[Order_Detail] CHECK CONSTRAINT [FK_Order_Detail_Order]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Category] FOREIGN KEY([cID])
REFERENCES [dbo].[Category] ([categoryID])
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [FK_Recipe_Category]
GO
ALTER TABLE [dbo].[Recipe_Like]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Like_Recipe] FOREIGN KEY([rID])
REFERENCES [dbo].[Recipe] ([rID])
GO
ALTER TABLE [dbo].[Recipe_Like] CHECK CONSTRAINT [FK_Recipe_Like_Recipe]
GO
ALTER TABLE [dbo].[Recipe_Like]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Like_User] FOREIGN KEY([uID])
REFERENCES [dbo].[User] ([uID])
GO
ALTER TABLE [dbo].[Recipe_Like] CHECK CONSTRAINT [FK_Recipe_Like_User]
GO
ALTER TABLE [dbo].[Recipe_ingredient]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_ingredient_Ingredient] FOREIGN KEY([inID])
REFERENCES [dbo].[Ingredient] ([inID])
GO
ALTER TABLE [dbo].[Recipe_ingredient] CHECK CONSTRAINT [FK_Recipe_ingredient_Ingredient]
GO
ALTER TABLE [dbo].[Recipe_ingredient]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_ingredient_Recipe] FOREIGN KEY([rID])
REFERENCES [dbo].[Recipe] ([rID])
GO
ALTER TABLE [dbo].[Recipe_ingredient] CHECK CONSTRAINT [FK_Recipe_ingredient_Recipe]
GO
USE [master]
GO

use FoodWhale
go

insert into Admin values ('admin','admin')

insert into [dbo].[User](Email, Password, uName, DoB, Gender, Address, Phone) values('hagthe153279@fpt.edu.vn','giap','Giap Tuan Ha','2001-08-20', 'M','Bac Giang', '0982765291')
insert into [dbo].[User](Email, Password, uName, DoB, Gender, Address, Phone) values('nghiahthe153608@fpt.edu.vn','nghia','Hoang Tuan Nghia','2002-11-20', 'M','Cao Bang', '0837286866')
insert into [dbo].[User](Email, Password, uName, DoB, Gender, Address, Phone) values('minhltnhe150159@fpt.edu.vn','minh','Le Tran Ngoc Minh','2001-07-13', 'M','Ha Noi', '0947722715')

select * from [dbo].[User]

insert into [dbo].[Category] values ('Beef')
insert into [dbo].[Category] values ('Pork')
insert into [dbo].[Category] values ('Seafood')

select * from [dbo].[Category]

insert into [dbo].[Ingredient](inName, Image, Type, Price, categoryID, description, guideline) values ('Australian beef ribs','.Image\Ingredients\Australian_beef_ribs.jpeg', '200g', 53000, 1, 'Origin: Australia, preparation time: 20 minutes',
'Dùng ngay khi nhận hàng
Tủ đông <30 ngày
Lưu ý : - Không cấp đông thực phẩm trở lại khi đã rã đông
- Không sử dụng khi sản phẩm có dấu hiệu hư hỏng')
insert into [dbo].[Ingredient](inName, Image, Type, Price, categoryID, description, guideline) values ('American Beef Lean Shoulder','.Image\Ingredients\American_Beef_Lean_Shoulder.jpeg','350g', 129000, 1, 'Origin: America, preparation time: 20 minutes', 'Use immediately upon receipt
Freezer < 30 days
Note :
- Do not re-freeze food once it has been defrosted
- Do not use when the product shows signs of damage')
insert into [dbo].[Ingredient](inName, Image, Type, Price, categoryID, description, guideline) values ('Australian Beef Neck Tenderloin','.Image\Ingredients\Australian_Beef_Neck_Tenderloin.jpeg','300g', 69000, 1, 'Origin: Australian, preparation time: 20 minutes', 'Use immediately upon receipt
Freezer < 30 days
Note :
- Do not re-freeze food once it has been defrosted
- Do not use when the product shows signs of damage')

select * from [dbo].[Ingredient]


select * from Recipe

insert into [dbo].[Recipe_ingredient] values (1, 19)
insert into [dbo].[Recipe_ingredient] values (1, 20)
insert into [dbo].[Recipe_ingredient] values (1, 21)

select * from Recipe_ingredient

SELECT r.LikeCount, (SELECT COUNT(*) FROM Recipe_Like rl WHERE rl.rID = r.rID) FROM Recipe r

