@model FoodWhale.Model.OrderDetail

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="u-align-left u-container-style u-grey-5 u-group u-group-2" style="margin-bottom: 2rem">
    <div class="rowUser">
        <div class="frmUser">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Odid" />
                <div class="form-group">
                    <label asp-for="Oid" class="control-label"></label>
                    <select asp-for="Oid" class="form-control" asp-items="ViewBag.Oid"></select>
                    <span asp-validation-for="Oid" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InId" class="control-label"></label>
                    <select asp-for="InId" class="form-control" asp-items="ViewBag.InId"></select>
                    <span asp-validation-for="InId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div style="margin-left:21rem">
    <a asp-action="Index">Back to List</a>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
