@model IEnumerable<FoodWhale_User.Models.Recipe>
@{
    var user = TempData["user"] as User;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="heading_container heading_center">
    <h2>
        Our Ingredient
    </h2>
</div>

<ul class="filters_menu">
    <li class="active" data-filter="*">All</li>
    @foreach (var item in Model)
    {
    <li data-filter=".@Html.DisplayFor(modelItem => item.CId)"> </li>
    }
</ul>

<div class="filters-content">
    <div class="row grid">
        @foreach (var item in Model) {
            <div class="col-sm-6 col-lg-4 all pizza">
                <div class="box">
                    <div>
                        <div class="img-box">
                            <img src="@Html.DisplayFor(modelItem => item.Image)" alt="">
                        </div>
                        <div class="detail-box">
                            <a asp-controller="Recipe" asp-action="Details" style="color:#fff; font-weight:600; font-size: 1.25rem;">
                                @Html.DisplayFor(modelItem => item.RName)
                            </a>
                            <p style="color: #fff">
                                Time: @Html.DisplayFor(modelItem => item.Time) Minutes
                            </p>
                            <div class="options">
                                <h6>
                                    Difficulty: @Html.DisplayFor(modelItem => item.Difficulty)
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>