@{
    ViewData["Title"] = "Home Page";

}

<div class="u-align-left u-container-style u-grey-5 u-group u-group-2">
    <div class="u-container-layout u-container-layout-2">
        <div class="u-form u-form-1">
            @{
                if (TempData["admin"] != null)
                {
                    <h1 style="text-align: center">Welcome admin<br />
                                                    Take control
                    </h1>
                }
                else
                {
                    <h2 style="text-align: center">Login before you continue.</h2>
                }
            }
        </div>
    </div>
</div>
